/WebApplication2/.idea/.idea.WebApplication2/.idea/indexLayout.xml
/WebApplication2/WebApplication2/obj/
/WebApplication2/WebApplication2/obj/
/WebApplication2/WebApplication2/obj/project.assets.json
/WebApplication2/WebApplication2/obj
/WebApplication2/WebApplication2/obj/
/WebApplication2/WebApplication2/obj
